:root{
    --branco: aliceblue;
    --fundoPadrão: #1a1919;
    --fundoCard: #383838;
}
.link-card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.link-card a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'CircularStd-bold', sans-serif;
    color: var(--branco);
    background-color: var(--fundoCard);

    height: 40px;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
}
.link-card img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.card-maior{
    display: flex;
    gap: 10px;
}
.card-maior a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-family: 'CircularStd-bold', sans-serif;

    color: white;
    background-color: var(--fundoCard);
    height: auto;
    width: min-content;
    border-radius: 10px;
    padding: 10px;
}
.card-maior img{
    width: 128px;
    height: 128px;
    border-radius: 10px;
}
.card-maior h3{
    margin-bottom: 0px;
}
.card-maior p{
    margin-top: 5px;
    margin-bottom: 5px;
}